# API Layer
fastapi>=0.112.2
uvicorn==0.30.1
pydantic==2.7.4

# Core Compute & Quantization
torch>=2.3.0
bitsandbytes
xformers

# Unsloth (Will automatically pull compatible versions of transformers, peft, and trl)
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git